@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal-window {
  position: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-color: white;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  padding: 5% 5%;
  text-align: center;
  flex-direction: column;
  overflow: auto;
  gap: 20px;
  z-index: 6;
}

.wrapper {
  padding-top: 50px;
  position: absolute;
  top: 0;
  width: 100vw;
  left: 0;
  color: white;
  backdrop-filter: blur(10px);
}

.picture {
  height: 55vh;
  margin: 0 auto;
}

.picture img {
  height: 50vh;
  transition: all 0.5s;
}

.picture img:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 5px black;
}

.modal-close {
  position: absolute;
  cursor: pointer;
  top: 5%;
  right: 5%;
}

.movie-information {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.movie-information h2 {
  font-weight: 700;
  font-size: 45px;
  font-family: 'Dancing Script', cursive;
}

.desc {
  margin: 0 auto;
  gap: 10px;
  text-align: left;
  display: grid;
  font-size: larger;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.desc p {
  font-family: 'Times New Roman', Times, serif;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#comment-title {
  margin-top: 10px;
  font-size: 26px;
}

.list-of-comments {
  text-align: center;
  font-style: italic;
  width: 350px;
  line-height: 30px;
  margin: 0 auto;
}

#commentter-name {
  color: red;
  font-weight: 100;
}

.list-of-comments li {
  font-style: normal;
  margin: 10px 0;
  padding: 5px;
  list-style: none;
  font-family: 'Courier New', Courier, monospace;
}

.list-of-comments li:nth-child(even) {
  background-color: #f2f2f2;
  border-collapse: collapse;
}

.comments form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.comments h3 {
  font-size: 26px;
  margin-top: 10px;
}

input[type='submit'],
input[type='text'] {
  padding: 15px;
  width: 200px;
  border: none;
}

input[type='text'] {
  outline: none;
  border-bottom: 1px solid black;
  background-color: lightblue;
}

input[type='submit'] {
  border-radius: 5px;
  width: 120px;
}

textarea {
  border: none;
  background-color: lightblue;
  border-bottom: 1px solid black;
  outline: none;
  padding: 15px;
}

@media screen and (min-width: 576px) {
  .modal-window {
    padding: 5% 20%;
  }

  .modal-close {
    right: 20%;
  }

  .desc {
    width: fit-content;
    grid-template-columns: 1fr 1fr;
  }
}
